<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action= "/team">
      <p>name: <input type="text" name="name"></p>	     
      <p>coach: <input type="text" name="coach"></p>	    
      <p>pg: <input type="text" name="pg"></p>	     
      <p>sg: <input type="text" name="sg"></p>	     
      <p>pf: <input type="text" name="pf"></p>	     
      <p>sf: <input type="text" name="sf"></p>	     
      <p>c: <input type="text" name="c"></p>	     
      <input type="submit">	

    </form>
 </body>
</html>


