<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">
      <label>name: </label> <input type="text" name="name">	     
      <label>coach: </label>  <input type="text" name="coach">	    
      <label>Point Guard: </label> <input type="text" name="pg">
      <label>Shooting Guard: </label> <input type="text" name="sg">
      <label>Power Forward:</label> <input type="text" name="pf">	     
      <label>Small Forward:</label> <input type="text" name="sf">	     
      <label>Center: </label> <input type="text" name="c">	     
      <input id="Submit" type="submit" value="Submit">	
    </form>
 </body>
</html>


