<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action= "/team">
      <p>name: <input type="text"></p>	     <p>Team name: <input type="text" name="name"></p>
      <p>coach: <input type="text"></p>	     <p>Coach: <input type="text" name="coach"></p>
      <p>pg: <input type="text"></p>	     <p>Point Guard: <input type="text" name="pg"></p>
      <p>sg: <input type="text"></p>	     <p>Shooting Guard: <input type="text" name="sg"></p>
      <p>sg: <input type="text"></p>	     <p>Power Forward: <input type="text" name="pf"></p>
      <p>pf: <input type="text"></p>	     <p>Small Forward: <input type="text" name="sf"></p>
      <p>sf: <input type="text"></p>	     <p>Center: <input type="text" name="c"></p>
      <p>c: <input type="text"></p>	     <input type="submit" value="submit">
      <input type="submit">	

    </form>	    </form>
 </body>
</html>


